<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">]
    
    <gazebo reference="chassis">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="front_right_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="back_left_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="back_right_wheel_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="camera_pole_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="zed2i_link">
        <material>Gazebo/Black</material>
    </gazebo>
    

    <!-- TODO change later to use gazebo_ros_control plugin instead -->    
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>20</update_rate>
            <joint_name>front_left_wheel_joint</joint_name>
            <joint_name>front_right_wheel_joint</joint_name>
            <joint_name>back_left_wheel_joint</joint_name>
            <joint_name>back_right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <!-- create link and joint for optical camera frame -->
    <joint name="zed2i_optical_joint" type="fixed">
        <origin xyz = "0 0 0" rpy="-1.571 0 -1.571"/>
        <parent link="zed2i_link"/>
        <child link="zed2i_link_optical"/>
    </joint>

    <link name="zed2i_link_optical"></link>

    <!-- add gazebo setup for camera-->
    <gazebo reference="zed2i_link">
        <sensor type="camera" name="zed2i">
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <camera name="zed">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8B8G8</format>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>300</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>500</max_depth>
            </plugin>
        </sensor>
    </gazebo>

</robot>